# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
TgcViewer/AlumnoEjemplos/AlumnoEjemplos.csproj
TgcViewer/AlumnoEjemplos/AlumnoEjemplos.csproj.user
TgcViewer/AlumnoEjemplos/AlumnoEjemplos.dll
TgcViewer/AlumnoEjemplos/AlumnoEjemplos.pdb
TgcViewer/AlumnoEjemplos/Ionic.Zip.dll
TgcViewer/AlumnoEjemplos/Properties/AssemblyInfo.cs
TgcViewer/AlumnoEjemplos/TgcViewer.exe
TgcViewer/AlumnoEjemplos/TgcViewer.pdb
TgcViewer/AlumnoEjemplos/obj
TgcViewer/Examples
TgcViewer/TgcViewer.suo
TgcViewer/TgcViewer.v12.suo
TgcViewer/Ejecutar MeshCreator.bat
TgcViewer/emptyLightMap.jpg
TgcViewer/emptyTexture.jpg
TgcViewer/Ionic.Zip.dll
TgcViewer/qlight0.jpg
TgcViewer/qlight1.jpg
TgcViewer/qlight2.jpg
TgcViewer/qlight3.jpg
TgcViewer/qlight4.jpg
TgcViewer/qlight5.jpg
TgcViewer/qlight6.jpg
TgcViewer/qlight7.jpg
TgcViewer/qlight8.jpg
TgcViewer/shadtextures-gothic_light-pentagram_light1_1K.txt
TgcViewer/shadtextures-gothic_trim-pitted_rust2_trans.txt
TgcViewer/shadtextures-sfx-computer_blocks17.txt
TgcViewer/shadtextures-sfx-flame1side.txt
TgcViewer/shadtextures-sfx-flame1_hell.txt
TgcViewer/shadtextures-sfx-flame2.txt
TgcViewer/shadtextures-skin-chapthroat2.txt
TgcViewer/shadtextures-skin-chapthroatooz.txt
TgcViewer/shadtextures-skin-surface8_trans.txt
TgcViewer/shadtextures-skin-tongue_trans.txt
TgcViewer/TerrainEditor.bat
TgcViewer/TgcViewer.exe
TgcViewer/TgcViewer.exe.config
TgcViewer/TgcViewer.pdb
TgcViewer/TgcViewer.sln
TgcViewer/TgcViewer.vshost.exe
TgcViewer/TgcViewer.vshost.exe.config
TgcViewer/TgcViewer.vshost.exe.manifest
TgcViewer/TgcViewer/app.config
TgcViewer/TgcViewer/GuiController.cs
TgcViewer/TgcViewer/IconoTgc.ico
TgcViewer/TgcViewer/MainForm.cs
TgcViewer/TgcViewer/MainForm.Designer.cs
TgcViewer/TgcViewer/MainForm.resx
TgcViewer/TgcViewer/Program.cs
TgcViewer/TgcViewer/TgcViewer.csproj
TgcViewer/TgcViewer/Example/ExampleLoader.cs
TgcViewer/TgcViewer/Example/TgcExample.cs
TgcViewer/TgcViewer/obj
TgcViewer/TgcViewer/Properties/AssemblyInfo.cs
TgcViewer/TgcViewer/Properties/Resources.Designer.cs
TgcViewer/TgcViewer/Properties/Resources.resx
TgcViewer/TgcViewer/Properties/Settings.Designer.cs
TgcViewer/TgcViewer/Properties/Settings.settings
TgcViewer/TgcViewer/Resources/dir_icon.jpg
TgcViewer/TgcViewer/Resources/pictureBox1.Image.png
TgcViewer/TgcViewer/Resources/pictureBox2.Image.jpg
TgcViewer/TgcViewer/Resources/pictureBox3.Image.jpg
TgcViewer/TgcViewer/Utils/HighResolutionTimer.cs
TgcViewer/TgcViewer/Utils/Logger.cs
TgcViewer/TgcViewer/Utils/TgcAxisLines.cs
TgcViewer/TgcViewer/Utils/TgcD3dDevice.cs
TgcViewer/TgcViewer/Utils/TgcDrawText.cs
TgcViewer/TgcViewer/Utils/TgcUserVars.cs
TgcViewer/TgcViewer/Utils/2D/TgcAnimatedSprite.cs
TgcViewer/TgcViewer/Utils/2D/TgcDrawer2D.cs
TgcViewer/TgcViewer/Utils/2D/TgcSprite.cs
TgcViewer/TgcViewer/Utils/2D/TgcText2d.cs
TgcViewer/TgcViewer/Utils/Collision/ElipsoidCollision/BoundingBoxCollider.cs
TgcViewer/TgcViewer/Utils/Collision/ElipsoidCollision/Collider.cs
TgcViewer/TgcViewer/Utils/Collision/ElipsoidCollision/ElipsoidCollisionManager.cs
TgcViewer/TgcViewer/Utils/Collision/ElipsoidCollision/TriangleMeshCollider.cs
TgcViewer/TgcViewer/Utils/Fog/TgcFog.cs
TgcViewer/TgcViewer/Utils/Input/TgcCamera.cs
TgcViewer/TgcViewer/Utils/Input/TgcD3dInput.cs
TgcViewer/TgcViewer/Utils/Input/TgcFpsCamera.cs
TgcViewer/TgcViewer/Utils/Input/TgcRotationalCamera.cs
TgcViewer/TgcViewer/Utils/Input/TgcSpringThirdPersonCamera.cs
TgcViewer/TgcViewer/Utils/Input/TgcThirdPersonCamera.cs
TgcViewer/TgcViewer/Utils/Interpolation/InterpoladorLineal.cs
TgcViewer/TgcViewer/Utils/Interpolation/InterpoladorVaiven.cs
TgcViewer/TgcViewer/Utils/Interpolation/Position2dInterpolator.cs
TgcViewer/TgcViewer/Utils/Interpolation/Temporizador.cs
TgcViewer/TgcViewer/Utils/MaxPlugins/MaxScriptUtils.ms
TgcViewer/TgcViewer/Utils/MaxPlugins/TgcKeyFrameExporter.ms
TgcViewer/TgcViewer/Utils/MaxPlugins/TgcSceneExporter.ms
TgcViewer/TgcViewer/Utils/MaxPlugins/TgcSceneImporter.ms
TgcViewer/TgcViewer/Utils/MaxPlugins/TgcSkeletalAnimationExporter.ms
TgcViewer/TgcViewer/Utils/Modifiers/TgcBooleanModifier.cs
TgcViewer/TgcViewer/Utils/Modifiers/TgcButtonModifier.cs
TgcViewer/TgcViewer/Utils/Modifiers/TgcColorModifier.cs
TgcViewer/TgcViewer/Utils/Modifiers/TgcEnumModifier.cs
TgcViewer/TgcViewer/Utils/Modifiers/TgcFileModifier.cs
TgcViewer/TgcViewer/Utils/Modifiers/TgcFloatModifier.cs
TgcViewer/TgcViewer/Utils/Modifiers/TgcIntervalModifier.cs
TgcViewer/TgcViewer/Utils/Modifiers/TgcIntModifier.cs
TgcViewer/TgcViewer/Utils/Modifiers/TgcMeshBrowser.cs
TgcViewer/TgcViewer/Utils/Modifiers/TgcMeshBrowser.Designer.cs
TgcViewer/TgcViewer/Utils/Modifiers/TgcMeshBrowser.resx
TgcViewer/TgcViewer/Utils/Modifiers/TgcModifierPanel.cs
TgcViewer/TgcViewer/Utils/Modifiers/TgcModifiers.cs
TgcViewer/TgcViewer/Utils/Modifiers/TgcTextureBrowser.cs
TgcViewer/TgcViewer/Utils/Modifiers/TgcTextureBrowser.Designer.cs
TgcViewer/TgcViewer/Utils/Modifiers/TgcTextureBrowser.resx
TgcViewer/TgcViewer/Utils/Modifiers/TgcTextureModifier.cs
TgcViewer/TgcViewer/Utils/Modifiers/TgcVertex2fModifier.cs
TgcViewer/TgcViewer/Utils/Modifiers/TgcVertex3fModifier.cs
TgcViewer/TgcViewer/Utils/Networking/TgcLanBrowser.cs
TgcViewer/TgcViewer/Utils/Networking/TgcNetworkingModifier.cs
TgcViewer/TgcViewer/Utils/Networking/TgcNetworkingModifierClientsDialog.cs
TgcViewer/TgcViewer/Utils/Networking/TgcNetworkingModifierClientsDialog.Designer.cs
TgcViewer/TgcViewer/Utils/Networking/TgcNetworkingModifierClientsDialog.resx
TgcViewer/TgcViewer/Utils/Networking/TgcNetworkingModifierControl.cs
TgcViewer/TgcViewer/Utils/Networking/TgcNetworkingModifierControl.Designer.cs
TgcViewer/TgcViewer/Utils/Networking/TgcNetworkingModifierControl.resx
TgcViewer/TgcViewer/Utils/Networking/TgcNetworkingModifierServersDialog.cs
TgcViewer/TgcViewer/Utils/Networking/TgcNetworkingModifierServersDialog.Designer.cs
TgcViewer/TgcViewer/Utils/Networking/TgcNetworkingModifierServersDialog.resx
TgcViewer/TgcViewer/Utils/Networking/TgcSocketClient.cs
TgcViewer/TgcViewer/Utils/Networking/TgcSocketClientInfo.cs
TgcViewer/TgcViewer/Utils/Networking/TgcSocketMessages.cs
TgcViewer/TgcViewer/Utils/Networking/TgcSocketServer.cs
TgcViewer/TgcViewer/Utils/Networking/TgcSocketServerInfo.cs
TgcViewer/TgcViewer/Utils/Particles/ColaDeParticulas.cs
TgcViewer/TgcViewer/Utils/Particles/Particle.cs
TgcViewer/TgcViewer/Utils/Particles/ParticleEmitter.cs
TgcViewer/TgcViewer/Utils/Particles/PilaDeParticulas.cs
TgcViewer/TgcViewer/Utils/PortalRendering/TgcPortalRenderingCell.cs
TgcViewer/TgcViewer/Utils/PortalRendering/TgcPortalRenderingCellData.cs
TgcViewer/TgcViewer/Utils/PortalRendering/TgcPortalRenderingConnection.cs
TgcViewer/TgcViewer/Utils/PortalRendering/TgcPortalRenderingData.cs
TgcViewer/TgcViewer/Utils/PortalRendering/TgcPortalRenderingLoader.cs
TgcViewer/TgcViewer/Utils/PortalRendering/TgcPortalRenderingManager.cs
TgcViewer/TgcViewer/Utils/PortalRendering/TgcPortalRenderingParser.cs
TgcViewer/TgcViewer/Utils/PortalRendering/TgcPortalRenderingPortal.cs
TgcViewer/TgcViewer/Utils/PortalRendering/TgcPortalRenderingPortalData.cs
TgcViewer/TgcViewer/Utils/Shaders/TgcPostProcessingUtils.cs
TgcViewer/TgcViewer/Utils/Shaders/TgcScreenQuad.cs
TgcViewer/TgcViewer/Utils/Shaders/TgcShaders.cs
TgcViewer/TgcViewer/Utils/Sound/Tgc3dSound.cs
TgcViewer/TgcViewer/Utils/Sound/TgcDirectSound.cs
TgcViewer/TgcViewer/Utils/Sound/TgcMp3Player.cs
TgcViewer/TgcViewer/Utils/Sound/TgcStaticSound.cs
TgcViewer/TgcViewer/Utils/Terrain/TgcSimpleTerrain.cs
TgcViewer/TgcViewer/Utils/Terrain/TgcSkyBox.cs
TgcViewer/TgcViewer/Utils/TgcGeometry/FastMath.cs
TgcViewer/TgcViewer/Utils/TgcGeometry/TgcArrow.cs
TgcViewer/TgcViewer/Utils/TgcGeometry/TgcBoundingBox.cs
TgcViewer/TgcViewer/Utils/TgcGeometry/TgcBoundingCylinder.cs
TgcViewer/TgcViewer/Utils/TgcGeometry/TgcBoundingSphere.cs
TgcViewer/TgcViewer/Utils/TgcGeometry/TgcBox.cs
TgcViewer/TgcViewer/Utils/TgcGeometry/TgcBoxLine.cs
TgcViewer/TgcViewer/Utils/TgcGeometry/TgcCollisionUtils.cs
TgcViewer/TgcViewer/Utils/TgcGeometry/TgcConvexPolygon.cs
TgcViewer/TgcViewer/Utils/TgcGeometry/TgcConvexPolyhedron.cs
TgcViewer/TgcViewer/Utils/TgcGeometry/TgcCylinder.cs
TgcViewer/TgcViewer/Utils/TgcGeometry/TgcDebugBox.cs
TgcViewer/TgcViewer/Utils/TgcGeometry/TgcEditableLand.cs
TgcViewer/TgcViewer/Utils/TgcGeometry/TgcElipsoid.cs
TgcViewer/TgcViewer/Utils/TgcGeometry/TgcFixedYBoundingCylinder.cs
TgcViewer/TgcViewer/Utils/TgcGeometry/TgcFrustum.cs
TgcViewer/TgcViewer/Utils/TgcGeometry/TgcLine.cs
TgcViewer/TgcViewer/Utils/TgcGeometry/TgcObb.cs
TgcViewer/TgcViewer/Utils/TgcGeometry/TgcPickingRay.cs
TgcViewer/TgcViewer/Utils/TgcGeometry/TgcPlaneWall.cs
TgcViewer/TgcViewer/Utils/TgcGeometry/TgcQuad.cs
TgcViewer/TgcViewer/Utils/TgcGeometry/TgcRay.cs
TgcViewer/TgcViewer/Utils/TgcGeometry/TgcSphere.cs
TgcViewer/TgcViewer/Utils/TgcGeometry/TgcTriangle.cs
TgcViewer/TgcViewer/Utils/TgcGeometry/TgcTriangleArray.cs
TgcViewer/TgcViewer/Utils/TgcGeometry/TgcVectorUtils.cs
TgcViewer/TgcViewer/Utils/TgcKeyFrameLoader/TgcKeyFrameAnimation.cs
TgcViewer/TgcViewer/Utils/TgcKeyFrameLoader/TgcKeyFrameAnimationData.cs
TgcViewer/TgcViewer/Utils/TgcKeyFrameLoader/TgcKeyFrameFrameData.cs
TgcViewer/TgcViewer/Utils/TgcKeyFrameLoader/TgcKeyFrameLoader.cs
TgcViewer/TgcViewer/Utils/TgcKeyFrameLoader/TgcKeyFrameMesh.cs
TgcViewer/TgcViewer/Utils/TgcKeyFrameLoader/TgcKeyFrameMeshData.cs
TgcViewer/TgcViewer/Utils/TgcKeyFrameLoader/TgcKeyFrameParser.cs
TgcViewer/TgcViewer/Utils/TgcSceneLoader/IRenderObject.cs
TgcViewer/TgcViewer/Utils/TgcSceneLoader/ITransformObject.cs
TgcViewer/TgcViewer/Utils/TgcSceneLoader/TgcMaterialData.cs
TgcViewer/TgcViewer/Utils/TgcSceneLoader/TgcMesh.cs
TgcViewer/TgcViewer/Utils/TgcSceneLoader/TgcMeshData.cs
TgcViewer/TgcViewer/Utils/TgcSceneLoader/TgcParserUtils.cs
TgcViewer/TgcViewer/Utils/TgcSceneLoader/TgcScene.cs
TgcViewer/TgcViewer/Utils/TgcSceneLoader/TgcSceneData.cs
TgcViewer/TgcViewer/Utils/TgcSceneLoader/TgcSceneExporter.cs
TgcViewer/TgcViewer/Utils/TgcSceneLoader/TgcSceneLoader.cs
TgcViewer/TgcViewer/Utils/TgcSceneLoader/TgcSceneParser.cs
TgcViewer/TgcViewer/Utils/TgcSceneLoader/TgcTexture.cs
TgcViewer/TgcViewer/Utils/TgcSkeletalAnimation/TgcSkeletalAnimation.cs
TgcViewer/TgcViewer/Utils/TgcSkeletalAnimation/TgcSkeletalAnimationBoneData.cs
TgcViewer/TgcViewer/Utils/TgcSkeletalAnimation/TgcSkeletalAnimationBoneFrameData.cs
TgcViewer/TgcViewer/Utils/TgcSkeletalAnimation/TgcSkeletalAnimationData.cs
TgcViewer/TgcViewer/Utils/TgcSkeletalAnimation/TgcSkeletalAnimationFrame.cs
TgcViewer/TgcViewer/Utils/TgcSkeletalAnimation/TgcSkeletalBone.cs
TgcViewer/TgcViewer/Utils/TgcSkeletalAnimation/TgcSkeletalBoneAttach.cs
TgcViewer/TgcViewer/Utils/TgcSkeletalAnimation/TgcSkeletalBoneData.cs
TgcViewer/TgcViewer/Utils/TgcSkeletalAnimation/TgcSkeletalLoader.cs
TgcViewer/TgcViewer/Utils/TgcSkeletalAnimation/TgcSkeletalMesh.cs
TgcViewer/TgcViewer/Utils/TgcSkeletalAnimation/TgcSkeletalMeshData.cs
TgcViewer/TgcViewer/Utils/TgcSkeletalAnimation/TgcSkeletalParser.cs
TgcViewer/TgcViewer/Utils/TgcSkeletalAnimation/TgcSkeletalVertexWeight.cs
TgcViewer/TgcViewer/Utils/Ui/AboutWindow.cs
TgcViewer/TgcViewer/Utils/Ui/AboutWindow.Designer.cs
TgcViewer/TgcViewer/Utils/Ui/AboutWindow.resx
TgcViewer/TgcViewer/Utils/Ui/FullScreenPanel.cs
TgcViewer/TgcViewer/Utils/Ui/FullScreenPanel.Designer.cs
TgcViewer/TgcViewer/Utils/Ui/FullScreenPanel.resx
TgcViewer/TgcViewer/Utils/Ui/TgcViewerConfig.cs
TgcViewer/TgcViewer/Utils/Ui/ValidationUtils.cs